{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<h1>{% trans "Password Reset" %}</h1>

{% if user.is_authenticated %}
{% include "account/snippets/already_logged_in.html" %}
{% endif %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'registrations/assets/bootstrap/css/bootstrap.min.css' %}" />
<link rel="stylesheet" href="{% static 'registrations/assets/fontawesome/css/all.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/register.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'registrations/assets/css/Loginpage.css' %}" />

<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>



<h1 style="text-align:center !important; margin-bottom:30px !important">{% trans "Password Reset" %}</h1>
{% if user.is_authenticated %}
{% include "account/snippets/already_logged_in.html" %}
{% endif %}
<main>
    <section class="container login-form" style="font-family:Sahel; !important">
        <form method="post" action="" style="margin-top: 0px !important;margin-bottom: 90px !important;" role="login">
            {% csrf_token %}
            <div class="w-100 form-title" style="margin-top:20px !important;">

                <p style="margin-bottom:-70px !important">{% blocktrans %}ما برای بازیابی رمز عبور برای شما ایمیلی ارسال
                    کرده ایم. لطفاً اگر ظرف چند دقیقه آن را دریافت نکردید با ما تماس بگیرید.{% endblocktrans %}</p>
                <br>
                <br>
                <br>
                <br>

                <button style="border-radius:40px !important;" style="margin-left:-30px !important;"> <a
                        class="nav-link waves-effect" href="{% url 'account_login' %}">
                        <span class="clearfix d-none d-sm-inline-block" style="color:#000 ;"> ورود </span>
                    </a>
                </button>
        </form>
    </section>
    <div class="container login-form">


    </div>
    <div>
</main>

{% endblock %}