
{% extends "account/base.html" %}


{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}
{% load static %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'registrations/assets/bootstrap/css/bootstrap.min.css' %}" />
<link rel="stylesheet" href="{% static 'registrations/assets/fontawesome/css/all.min.css' %}">
<!-- <link rel="stylesheet" type="text/css" href="{% static 'registrations/assets/css/loginStyles.css' %}" /> -->
<!-- <link rel="stylesheet" type="text/css" href="{% static 'registrations/assets/css/logining.css' %}" /> -->
<link rel="stylesheet" type="text/css" href="{% static 'registrations/assets/css/loginpages.css' %}" />


<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<main>
  <section class="container login-form" style="font-family:Sahel !important ;">
    <form method="post" action="" role="login">
      <div class="w-100 form-title">
        <h3 class="mb-4">تغییر گذرواژه</h3>
      </div>

      <form class="login" method="post" action="{% url 'account_login' %}">
        {% csrf_token %}

        <p class="mb-4" >گذرواژه شما با موفقیت تغییر کرد <p>
            <div class="div-butt">
<br>

              <button class='btn btn-danger butt' type="submit"><a href="{% url 'account_login' %}"> {% trans "ورود به سایت " %} 	&larr; </a></button>
              
            </form> 
                 </div>
            
            </div>
  </section>

  <div>
</main>

<script src="{% static 'registrations/assets/bootstrap/js/bootstrap.min.js' %}"></script>

{% endblock %}



