{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}
{% load static %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'registrations/assets/bootstrap/css/bootstrap.min.css' %}" />
<link rel="stylesheet" href="{% static 'registrations/assets/fontawesome/css/all.min.css' %}">
<!-- <link rel="stylesheet" type="text/css" href="{% static 'registrations/assets/css/loginStyles.css' %}" /> -->
<!-- <link rel="stylesheet" type="text/css" href="{% static 'registrations/assets/css/logining.css' %}" /> -->
<link rel="stylesheet" type="text/css" href="{% static 'registrations/assets/css/loginpages.css' %}" />


<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<main>
  <section class="container login-form" style="font-family:Sahel !important ;">
    <form method="post" action="" role="login">
      <div class="w-100 form-title">
        <h3 class="mb-4">تغییر گذرواژه</h3>
      </div>

      <form class="login" method="post" action="{% url 'account_login' %}">
        {% csrf_token %}

             <div class="error" style="font-size:12px !important" >
                               {% if form.errors %}
                                    {% for field in form %}
                                        {% for error in field.errors %} 
                                            <div class="alert alert-danger">
                                                <strong>{{ error|escape }}</strong>
                                            </div>
                                        {% endfor %}
                                    {% endfor %}
                                {% endif %}
                            </div>
        <div class="form-row">
          <div class="form-group col-md-6 mb-0">

          </div>
        </div>
            <label for="id_password1">گذرواژه جدید:</label>
            <input type="password" name="password1" placeholder="گذرواژه جدید" autocomplete="new-password" required="" id="id_password1">
<label for="id_password2"> تکرار گذرواژه جدید :</label>
            <input type="password" name="password2" placeholder="تکرار گذرواژه جدید" required="" id="id_password2">
        {% if redirect_field_value %}
        <div class="form-group col-md-6 mb-0">

        </div>
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ home }}" />

        {% endif %}
        {% include "socialaccount/snippets/login_extra.html" %}

        <div class="div-butt">
          <button class="btn btn-danger butt" type="submit">
            {% trans "تغییر گذرواژه" %}
          </button>
        </div>
        <br>
       
      </form>

  </section>
  <div class="container login-form">


  </div>
  <div>
</main>

<script src="{% static 'registrations/assets/bootstrap/js/bootstrap.min.js' %}"></script>

{% endblock %}



