{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

    <h1>{% trans "Password Reset" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "آیا رمز ورود خود را فراموش کرده اید؟ آدرس ایمیل خود را در زیر وارد کنید ، ما یک ایمیل برای شما ارسال می کنیم که به شما امکان می دهد آن را دوباره بازیابی کنید." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="{% trans 'Reset My Password' %}" />
    </form>

    <p>{% blocktrans %}اگر در بازنشانی گذرواژه مشکل دارید با ما تماس بگیرید.{% endblocktrans %}</p>
{% endblock %}
