{% extends "account/base.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
 
 
 <head>
    <title>عضویت</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'registrations/assets/css/signupStyles.css'%}">
</head>
<body dir="rtl">
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5">
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-7 col-lg-5">
        {% if form.non_field_errors %}
        <div class="errors">
        {% for error in form.non_field_errors %} 
        <p> {{error}}</p>
        {% endfor %}
        </div>
        {% endif %}
                <div class="login-wrap p-4 p-md-5">
                    <h1 style="text-align:center;">{% trans "Sign Up" %}</h1>
            <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
              {% csrf_token %}  
                              <!-- {{ form|crispy }} -->
                            <div class="error" style="font-size:12px !important" >
                               {% if form.errors %}
                                    {% for field in form %}
                                        {% for error in field.errors %} 
                                            <div class="alert alert-danger">
                                                <strong>{{ error|escape }}</strong>
                                            </div>
                                        {% endfor %}
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <div class="filed" {{ field|field_type }} {{ field|widget_type }} {{ field.html_name }}>
                                <label for="{{form.id_for_label }}" class="label">نام کاربری</label>

                                {{form.username}}
                            </div>
                                <div class="filed" {{ field|field_type }} {{ field|widget_type }} {{ field.html_name }}>
                                    <label for="{{form.id_for_label }}" class="label">رایانامه</label>
                                        {{form.email}}

                                    <!-- <input type="email" name="email" placeholder="نشانی رایانامه" autocomplete="email" class="textinput textInput form-control" id="id_email"> -->
                                </div>
                                    <div class="filed" {{ field|field_type }} {{ field|widget_type }} {{ field.html_name }}>
                                        <label for="{{form.id_for_label }}" class="label">گذرواژه</label>
                                        {{form.password1}}
                                    </div>
                                        <div class="filed" {{ field|field_type }} {{ field|widget_type }} {{ field.html_name }} >
                                            <label for="{{form.id_for_label }}" class="label">تکرار گذرواژه</label>
                                            <input type="password" name="password2" placeholder="تکرار گذرواژه" class="textinput textInput form-control"
                                                required="" id="id_password2">
                                        </div>
                              <br>     

              {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
              {% endif %}
                  <div class="div-butt">
<br>
              <button class='btn btn-primary butt' type="submit">{% trans "Sign Up" %} 	&larr;</button>
                 </div>
            </form> 
                 <br>
                    <h3>
                                      <div class="div-butt">
<br>
                    <a href="{% url 'social:begin' 'google-oauth2' %}" style="border: 1px solid rgba(28, 28, 28, 0.51);" class="btn btn-white">  ثبت نام با حساب گوگل <i class="fab fa-google	"> </i></a>
                 </div>
                    </h3>
                 <br>
                  <div class="div-butt">
            <p>{% blocktrans %}حساب کاربری دارید ؟ <a href="{{ login_url }}">وارد </a>شوید.{% endblocktrans %}</p>
                </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
</section>
<script src="{% static 'registrations/assets/js/jquery.min.js'%} "></script>
<script src="{% static 'registrations/assets/js/popper.js'%} "></script>
<script src="{% static 'registrations/assets/js/bootstrap.min.js'%} "></script>
<script src="{% static 'registrations/assets/js/main.js'%} "></script>
{% endblock %}
 
 