Django==3.2
django-allauth
markdown
django-filter
pillow
djangorestframework
django-cart
django-crispy-forms
stripe
django-utils-six
django_countries
django-allauth
django-rest-auth
dj-rest-auth
django-decouple
 django-comments-dab-2.6.1