{% extends 'registration/base.html' %}
{% block title %}لیست کوپن ها{% endblock %} 
{% block main %}
{% if  object_list %}
<div class="row">
          <div class="col-12">
            <div class="card">
              
              <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>عنوان</th>
                      <th>آدرس</th>


                    </tr>
                  </thead>
                  <tbody>
                   {% for coupon in object_list %}
                    <tr>
                    
                  <td><a href="{% url 'account:coupon-update' coupon.pk  %}">
                    {{coupon.code}}</td>
                    <td>{{coupon.amount}}</td>

                {% endfor %}
                  </tbody>
                </table>
                                    {% else %}
            <strong style="font-size:35px;">هیچ کد تخفیفی اضافه نشده است</strong>
            <br>
            <strong style="font-size:25px;"> برای افزدون کد تخفیف 
           <a href="{% url 'account:coupon-create' %}"> کلیک</a> کنید.</strong>

{% endif %}
              </div>
            </div>
          </div>
        </div>

{% endblock %}