{% extends 'registration/base.html' %}
{% block title %}لیست سفارشات ثبت شده{% endblock %} 
{% block main %}
{% if object_list %}
<div class="row">
          <div class="col-12">
            <div class="card">
              
              <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>کد سفارش</th>

                      <th>کاربر</th>
                      <th>تاریخ ثبت</th>
                      <th>آدرس</th>
        
                       <th>کوپن</th>
                       <th>وضعیت سفارش</th>
                       <th>وضعیت تحویل</th>
                       <th>درخواست مرجوعی</th>
                       <th>تایید مرجوعی</th>

                    </tr>
                  </thead>
                  <tbody>
                    {% for order in object_list %}
                    
                    <tr>

                    <td><a href="{% url 'account:order-update' order.pk  %}">{{order.order_code}}</a></td>
                    <td>{{order.user.get_full_name}}</td>
                    
                    <td>{{order.jorderd_date}}</td>

                    {% if order.shipping_address != None %}
                    <td>{{order.shipping_address.state}}</td>
                    {% elif order.billing_address != None %}
                    <td>{{order.billing_address.state}}</td>
                      {% else %}
                      <td>-----</td>
                    {% endif %}



                    {% if order.coupon != None %}
                      <td>{{order.coupon}}</td>
                    {% else %}
                    <td>------</td>
                    {% endif %}
 {% if order.being_delivered == 'S' %}
    <td><strong>در صف بررسی </strong></td>
      {% elif order.being_delivered == 'C' %}
    <td><strong> تایید سفارش</strong></td>
      {% elif order.being_delivered == 'P' %}
    <td><strong>آماده سازی سفارش</strong></td>

      {% elif order.being_delivered == 'p' %}
    <td><strong>بسته بندی</strong></td>

      {% elif order.being_delivered == 'D' %}
    <td><strong>تحویل به پست </strong></td>

      {% elif order.being_delivered == 'c' %}
   <td> <strong>  تحویل به مشتری</strong></td>
      {% elif object.being_delivered == 'R' %}
   <td> <strong>مرجوعی</strong></td>

      {% endif %}
                   
                    {% if order.received == True %}
                    <td><i class="fa fa-check-circle" style="color:green"></i> </td>
                    {% else %}
                  <td><i class="fa fa-minus-circle" style="color:red"></i> </td>
                    {% endif %}
                    {% if order.refund_requested %}
                    <td><i class="fa fa-check-circle" style="color:green"></i> </td>
                    {% else %}
                  <td><i class="fa fa-minus-circle" style="color:red"></i> </td>

                    
                    {% endif %}
                    {% if order.refund_granted == True %}
                    <td><i class="fa fa-check-circle" style="color:green"></i> </td>
                    {% else %}
                  <td><i class="fa fa-minus-circle" style="color:red"></i> </td>
                    {% endif %}
        

                {% endfor %}
                    
                  </tbody>
                </table>
             {% else %}
             {% if request.user.is_superuser %}
            <strong style="font-size:35px;">هیچ سفارشی ثبت نشده است</strong>
            <br>
            {% else %}
            <strong style="font-size:35px;">برای شما سفارشی ثبت نشده است</strong>
            <br>
            <strong style="font-size:25px;"> برای افزدون سفارش 
           <a href="{% url 'core:home' %}"> کلیک</a> کنید.</strong>
{% endif %}
{% endif %}

            <!-- /.card -->
          </div>
              </div>
        </div>
        </div>
{% endblock %}