{% extends 'registration/base.html' %}
{% block title %}لیست مرجوعی ها{% endblock %} 
{% block main %}
{% if object_list %}
<div class="row">
          <div class="col-12">
            <div class="card">
              
              <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>کد سفارش</th>
                      <th>کد مرجوعی</th>
                      <th>توضیحات</th>
                     <th>وضعیت</th>
                      <th>ایمیل</th>

                    </tr>
                  </thead>
                  <tbody>
                   {% for refund in object_list %}
                    <tr>
                    
                  <td>{% if request.user.is_superuser %}<a href="{% url 'account:refund-update' refund.pk  %}">{% endif %}

                    {{refund.order.order_code}}</a></td>
                   <td> {{refund.order.ref_code}}</a></td>
                    <td>{{refund.reason|slice:":50"}}</td>
                     {% if refund.accepted == True %}
                    <td><i class="fa fa-check-circle" style="color:green"></i> </td>
                    {% else %}
                 <td> <i class="fa fa-minus-circle" style="color:red"></i> </td>
                    {% endif %}
                    <td>{{refund.email}}</td>

                  
                {% endfor %}
                  </tbody>
                </table>
                                    {% else %}
            <strong style="font-size:35px;">هیچ درخواست مرجوعی ای ثبت نشده است.</strong>
            <br>


{% endif %}
              </div>
            </div>
          </div>
        </div>
{% endblock %}