{% extends "base.html" %} 
{% load static %}
{% block content %}
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,700,900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'contact_us/fonts/icomoon/style.css' %}">
<link rel="stylesheet" href="{% static 'contact_us/css/owl.carousel.min.css' %}">
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="{% static 'contact_us/css/bootstrap.min.css' %}">
<!-- Style -->
<link rel="stylesheet" href="{% static 'contact_us/css/style.css' %}">
<title>Contact Form #2</title>
</head>
<body>
   <div class="content">
      <div class="container">
         <div class="row">
            <div class="col-md-8 mr-auto">
               <h2>درباره ما</h2>
               <p >دانشجویان رشته مهندسی کامپیوتر دانشگاه شهید چمران اهواز </p>
               <p > پروژه طراحی درس تحلیل و طراحی سیستم ها</p>
               <ul class="list-unstyled pl-md-8 mb-8">
                  <li class="d-flex text-black"><span class="mr-6"><span class="icon-phone">اعضای تیم   :</span></span></li>
                  <li class="d-flex text-black"><span class="mr-6"><span class="icon-phone">علی مومنی :</span> 9873134 , </span> momenia355@gmail.com</li>
                  <li class="d-flex text-black"><span class="mr-6"><span class="icon-envelope-o">محمد زاهدی نژاد :</span> 9773117 , </span> Mamadzn2050@gmail.com </li>
                  <li class="d-flex text-black"><span class="mr-6"><span class="icon-envelope-o">زینب بابایی فروشانی :</span> 9873104 , </span>zeinabbabaie9@gmail.com </li>
                  <li class="d-flex text-black"><span class="mr-6"><span class="icon-envelope-o">فاطمه آسترکی : </span> 9873101 , </span>saraastaraki6@gmail.com </li>
               </ul>
            </div>
         </div>
      </div>
      <br>
      <br>
   </div>
   <script src="{% static 'contact_us/js/jquery-3.3.1.min.js' %}"></script>
   <script src="{% static 'contact_us/js/popper.min.js' %}"></script>
   <script src="{% static 'contact_us/js/bootstrap.min.js' %}"></script>
   <script src="{% static 'contact_us/js/jquery.validate.min.js' %}"></script>
   <script src="{% static 'contact_us/js/main.js' %}"></script>
   {%  endblock  %}
