{% extends "list.html" %} 
      {% block navbar_container %}
      <span class="navbar-brand" style="color:#000 !important">
       دسته بندی : {{category.title}}
       
      </span>
      {% endblock  %}


        {% block empty_block %}
      <nav
      class="navbar navbar-expand-lg navbar-dark mdb-color lighten-3 mt-3 mb-5" style="width: 71.5rem !important;background-color:#fff !important;border-radius:5px;"    >
      <!-- Navbar brand -->
        <span class="navbar-brand" style="color:#000 !important">
    <h5> 
محتوایی برای نمایش وجود ندارد.
   </h5>
 
<br>
<br>
<br>
<br>
<br>
<br>
<br>
    </nav>
    {% endblock %}