{% extends "base.html" %} 
{% load static %}

{% block content %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,700,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'contact_us/fonts/icomoon/style.css' %}">

    <link rel="stylesheet" href="{% static 'contact_us/css/owl.carousel.min.css' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'contact_us/css/bootstrap.min.css' %}">
    
    <!-- Style -->
    <link rel="stylesheet" href="{% static 'contact_us/css/style.css' %}">

    <title>تماس با ما</title>
  </head>
  <body>
 
  <div class="content">
  
    <div class="container">
        
 {% if name %}
 <div style="text-align:center">
   <h3> {{name }} ممنون !</h3>
   <p>ما پیام شما را با موفقیت دریافت کردیم .</p>
            <a style="text-align:center  ; border-radius:15px; margin-right: 490px !important;" class='btn btn-primary float-right' href='/'> بازگشت به سایت</a>
   </div>
   <br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<br>
<br>
  {% else %}
      <div class="row">
        <div class="col-md-5 mr-auto">
          <h4 >راه های ارتباطی با پایپیروس بوک</h4>
            <p class="mb-5"><i class="fa fa-map-marker" ></i> اهواز - بلوار گلستان  - دانشگاه شهید چمران - سازمان مرکزی</p>

          <ul class="list-unstyled pl-md-5 mb-5">

            <li class="d-flex text-black mb-2"><span class="mr-3"><span class="icon-phone">تلفن : </span></span> +989123456789</li>
            <li class="d-flex text-black"><span class="mr-3"><span class="icon-envelope-o">ایمیل : </span></span> papurusbook1@gmail.com </li>
          </ul>
        </div>

        <div class="col-md-6">
          <form class="mb-5" method="post" action="{% url 'core:contact' %}">
          {% csrf_token %}
            <div class="row">
              
              <div class="col-md-12 form-group">
                <label for="name" class="col-form-label">نام</label>
                <input type="text" class="form-control" name="name" id="name">
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 form-group">
                <label for="email" class="col-form-label">ایمیل</label>
                <input type="text" class="form-control" name="email" id="email">
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 form-group">
                <label for="message" class="col-form-label">پیام</label>
                <textarea class="form-control" name="message" id="message" cols="30" rows="7"></textarea>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <input type="submit" value="ارسال پیام" class="btn btn-primary rounded-0 py-2 px-4">
                <span class="submitting"></span>
              </div>
            </div>
          </form>

        </div>
{% endif %}
      </div>

  </div>
    
    

    <script src="{% static 'contact_us/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'contact_us/js/popper.min.js' %}"></script>
    <script src="{% static 'contact_us/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'contact_us/js/jquery.validate.min.js' %}"></script>
    <script src="{% static 'contact_us/js/main.js' %}"></script>
{%  endblock  %}