
<footer style="margin: auto; ">
  <div class="footer-copyright py-3 bake navbar navbar-expand-lg navbar-dark mdb-color lighten-3"  style="color:#fff !important;background-color:#5f5f5f !important;height: 100px !important;">
   <div style="margin-right:20px">
 <p > راه های ارتباط با ما: </p>
            <p ><i class="fa fa-map-marker" ></i> اهواز - بلوار گلستان  - دانشگاه شهید چمران - سازمان مرکزی</p>

 
  </div>
   <div style="margin-right:20px">
    <p> </p>
    <p> </p>

 <p > رایانامه :  papyrusbook1@gmail.com</p>

 
  </div>
    <div style="margin-right:20px">
    <p> </p>
    <p> </p>
 <p > تلفن :  12345678901</p>

 
  </div>
      <div style="margin-right:auto;margin-left:90px">
 <h5 > فروشگاه کتاب پاپیروس</h5>

            <p >یکی از متعبر ترین فروشگاه  های فروش کتاب در کشور است.</p>
 
  </div>
  </div>

</footer>
