{% load cart_template_tags %}

<nav style="margin-bottom:-105px !important"
  class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar"
>
  <div class="container" >
    <!-- Brand -->
    <a style="font-size:25px;" class="navbar-brand waves-effect" href="/">
      <strong class="blue-text"> فروشگاه &nbsp;&nbsp;</strong>
    </a>

    
            {% for book in object_list %}
                {% for cat in book.category.active %}
                {% if cat.parent == None %}
                <a class="blue-text" href="{% url 'core:category' cat.slug %}">{{cat.title}} &nbsp;&nbsp; </a>
                {% if cat.children.all %}
                  {% include 'category_loop.html' %}
                {% endif %}
                {% endif %}
              {% endfor %}
    {% endfor %}

    {% for cat in object.category.active %}
                {% if cat.parent == None %}
                <a class="blue-text" href="{% url 'core:category' cat.slug %}">{{cat.title}} &nbsp;&nbsp; </a>
                {% if cat.children.all %}
                  {% include 'category_loop.html' %}
                {% endif %}
                {% endif %}
    {% endfor %}
    <!-- Collapse -->
    
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Links -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Left -->
      <ul class="navbar-nav mr-auto">

      </ul>

      <!-- Right -->
      <ul class="navbar-nav nav-flex-icons">
        {% if request.user.is_authenticated %}
        <li class="nav-item">

          <a class="nav-link waves-effect" href="{% url 'core:order-summary' %}">
            <span class="badge red z-depth-1 mr-1">{{ request.user|cart_book_count }}
            </span>
            <i class="fas fa-shopping-cart"></i>
            
            <span class="clearfix d-none d-sm-inline-block">     سبد خرید </span>
          </a>
        </li>
           <li class="nav-item">
          <a class="nav-link waves-effect" href="{% url 'account:profile' %}">
            <i class="fa fa-user"></i>

            <span class="clearfix d-none d-sm-inline-block ">حساب کاربری</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect" href="{% url 'account_logout' %}">
            <span class="clearfix d-none d-sm-inline-block"> خروج  </span>
          </a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link waves-effect" href="{% url 'account_login' %}">
            <span class="clearfix d-none d-sm-inline-block"> ورود   </span>
          </a>
        </li>


        	

        <li class="nav-item">
          <a class="nav-link waves-effect" href="{% url 'account_signup' %}">
            <span class="clearfix d-none d-sm-inline-block"> ثبت نام </span>
          </a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
