{% load base_tags %}
<nav style="margin-bottom:-105px !important"
  class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar"
>
  <div class="container" >
    <!-- Brand -->
    <a style="font-size:25px;" class="navbar-brand waves-effect" href="/">
      <strong class="blue-text"> فروشگاه &nbsp;&nbsp;</strong>
    </a>
<div class="dropdown show">
  <a class=" dropdown-toggle" style="color:#000 ;content: None; font-size:15px " role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">  
    
      <strong class="blue-text"><i class="fa fa-list"></i> دسته بندی ها &nbsp;&nbsp;</strong>
    </a>
  <div class="dropdown-menu" style="text-align: right;" aria-labelledby="dropdownMenuLink">
    {% for cat in category %}
                {% comment %} {% if cat.parent == None %} {% endcomment %}
                <a class="blue-text dropdown-item"  href="{% url 'core:category' cat.slug %}">{{cat.title}} &nbsp;&nbsp; </a>
                {% comment %} {% if cat.children.all %}
                  {% include 'category_loop.html' %}
                {% endif %} {% endcomment %}
                {% comment %} {% endif %} {% endcomment %}
    {% endfor %}

  </div>
</div>
        <a style="font-size:15px;" class="navbar-brand waves-effect" href="{% url 'core:contact' %}">
      <strong class="blue-text"> تماس با ما &nbsp;&nbsp;</strong>
    </a>
        <a style="font-size:15px;" class="navbar-brand waves-effect" href="{% url 'core:about' %}">
     {{ user.get_full_name }}
      <strong class="blue-text">درباره ما  &nbsp;&nbsp;</strong>
    </a>
    <!-- Collapse -->
    
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Links -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Left -->
      <ul class="navbar-nav mr-auto">

      </ul>
 
      <!-- Right -->
   